<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Class Comments</title>
  <script>

  function getComments() {
    var xmlhttp = new XMLHttpRequest();
    var menu = document.getElementById("coursecode"); // document.getElementById("userInput").value;
    var userInput = menu.options[menu.selectedIndex].value;
    console.log(" This was searched: ", userInput);
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
        if (xmlhttp.status == 200) {
          var listOfComments = JSON.parse(xmlhttp.responseText);
          var text = "<ul>";
          var comment;
          for(comment in listOfComments) {
            text += "<li>" + listOfComments[comment].comment_text;
            if(listOfComments[comment].last_name) {
              text += " taken from Professor " + listOfComments[comment].last_name;
            }
            text += "</li>";
          }
          text += "</ul>";
          document.getElementById("comment-results").innerHTML = text;
        } else if (xmlhttp.status == 400) {
          alert('There was an error 400');
        } else {
          alert('something else other than 200 was returned');
        }
      }
    };
    xmlhttp.open("GET", "/getClassComments/" + userInput, true);
    xmlhttp.send();
  }
</script>
</head>
<body>
  <div class="search-comments">
    <h1>Search</h1>
    Pick a Class to Search: <%-selectClass%>
    <button type="submit" onclick="getComments()">Search</button>
    <div id="comment-results"></div>
  </div>
  <div class="add-comment">
    <h1>Add a Comment</h1>
    <form class="comment-section" action="/addComment" method="post">
      
      Select Class: <%-selectClass%>
      Select Professor: <%-selectProfessor%>
      Comment<input type=textarea name="comment">
      <button type="submit">Add Comment</button>
    </form>
  </div>
</body>
</html>
